<p>Número de preguntas: <%= estadisticas["numPreguntas"] %> </p>
<p>Número de comentarios totales: <%= estadisticas.numComentarios %> </p>
<p>Número medio de comentarios por pregunta: <%= estadisticas.numMedioComentarios %> </p>
<p>Número de preguntas sin comentarios: <%= estadisticas.numPreguntasNoComentarios %> </p>
<p>Número de preguntas con comentarios: <%= estadisticas.numPreguntasComentarios %> </p>